
body{
    color: #3E3F66;
}

.navbar{
    display:flex;
    width: 90%;
    justify-content: space-around;
    margin: auto;
    /* margin-top: 30px; */
    position: fixed;
    top: 0%;
    padding: 20px;
    height: 60px;
    background-color: white;
  
   
}


.Courosel{
    height: 642px;
    width:290px;
    position:relative;
    top:-680px;
    margin:auto;
    border-radius:50px
    
}

.getStarted{
    height: 45px;
    width: 182px;
    background-color: #6A49F2;
    margin-top: -10px;
    border: none;
    border-radius: 30px;
}

.firstBox{
    display: flex;
    justify-content: space-around;

    width: 90%;
    margin: auto;
    margin-top: 100px;
    border: 1px solid red;
   
}
.firstBox>div{
    width: 555px;
    text-align: left;
    border: 1px solid red;
    justify-content: center;
    height: 700px;
  
}
.head{
    font-size: 55px;
    font-weight: 900;
    margin-top: 160px;
    color: #6A49F2;
}
span{
    color: #32236F;
}


.btnDiv>button{
  height: 63px;
  width: 204px;
  border-radius: 10px; ;
 border-color: #6A49F2;
margin-right: 30px;
}

.imgDiv:first-child>img{
    position: relative;
    left: -16%;
    overflow: visible;
}

.imgDiv{
    margin-top: 30px;
    display: flex;
    gap: 20px;
    line-height: 5px;
}

.mobileFrame{
    height: 640px;
    width: 325px;
    margin-left: 120px;
    position: relative;
    top: -1315px;
    box-sizing: border-box;
    overflow: hidden;
   left: -5px; 
   
   
}
.a{
    background-image: url(../../public/1.png);
    height: 450px;
    width: 1000px;
}
.b{
    background-image: url(../../public/2.png);
    height: 450px;
    width: 1000px;
}
.c{
    background-image: url(../../public/3.png);
    height: 450px;
    width: 1000px;
}
.screen{
    background-image: url(../../public/screen.png);
    height: 642px;
    width: 310px;
    overflow: hidden;
}
.circle{
    width: 500px;
    height: 500px;
    background-color: #6A49F2;
    border-radius: 100%;
    margin: auto;
    margin-top: 180px;
    position: relative;
    top:-100px;
   
}

.secCourosel{
    margin-top: 100px;
    margin-bottom: 100px;
   display:flex;
   justify-content: space-evenly;
   border: 1px solid red;
   /* width: 200px; */
}

.thirdBox{
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    border: 1px solid red;
    width: 70%;
    margin: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.thirdBox>div{
    border: 1px solid red;
    width: 250px;
    text-align: right;
    margin-top: 180px;
}

.features_frame{
    position: relative;
    top: -150px;
}

.fourthBox{
    margin: auto;
    display: flex;
    border: 1px solid red;
    width: 1110px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   
   /* height: 642px; */
}
.fourthBox >div{
    margin-top: 100px;
    width: 555px;
    border: 1px solid red;
    text-align: left;
    height: 742px;
}

.grid{
    display: grid;
    /* border: 1px solid red; */
    grid-template-columns: repeat(2,250px);
    width: 90%;
    height: 250px;
    gap: 50px;
    margin: auto;
}

.grid>div{
    background-color: whitesmoke;
    border: 1px solid red;
    height: 100px;
    
}

.grid>button{
   border: none;
   background-color: white;
   border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.fifthBox{
    margin: auto;
    display: flex;
    border: 1px solid red;
    width: 1110px;
}

.fifthBox >div{
    margin-top: 100px;
    width: 555px;
    border: 1px solid red;
    text-align: left;
    /* height: 642px; */
}

.sixthBox{
    margin: auto;
    display: flex;
    border: 1px solid red;
    width: 1110px;
}

.sixthBox>div{
    margin-top: 100px;
    /* width: 555px; */
    /* border: 1px solid red; */
    text-align: left;
    height: 642px;
    display: flex;
    flex-direction: column;
}  



.innerDiv{
    width: 360px;
    height: 300px;
    margin: auto;
    text-align: right;
    border-radius: 20px;
}

.line{
    width: 5px;
    background-color: #DFDAF3;
 }
 
 .line>img{
    width: 110px;
    height: 110px;
    position: relative;
    right: 50px;
 }

.bullet{
    width: 30px;
    height: 22px;
    border-radius: 22px;
    background-color: #6A49F2;
    margin-top: 30px;
}
.thirdBox{
    text-align:left; 
}

.lastC{
    height:400px;
    width:600px;
    margin:auto;
    margin-top:50px
}

.iframe{
    height:400px ;
    width:1170px;
    marginTop:100px; 
}

@media screen and (max-width: 320px) {
    .firstBox{
        flex-direction: column;
    }
    .firstBox>div{
        height: fit-content;
        max-height: 647px;
    }
    .mobileFrame{
        position: relative;
        top: -600px;
        margin-left: 0px;
        width: 300px;
        overflow: visible;
       
    }
    .btnDiv>button{
        width: 120px;
        gap: 10px;
    }
    .btnDiv>button>img{
        height: 30px;
        width: 80px;
    }
    .head{
        margin-top: 100px;
        font-size: 30px;
        width: 300px;
    }
    .Courosel{
        width: 290px;
        overflow: hidden;
        top: 00px;
        left: -130px;
    }
    .screen{
        width: 290px;
        box-sizing: border-box;
        height: 647px;
        position: relative;
        top: 80px;
        left: -15px;
        margin-left: 0px;
        overflow: hidden;
        
    }
    .pDiv{
        width: 280px;
    }
    .circle{
        display: none;
    }
    .secCourosel{
        flex-direction: column;
    }
    .features_frame{
        position: relative;
        left: -30px;
        width: 280px;

    }
    .thirdBox{
        flex-direction: column;
        text-align: center;
    }
    .thirdBox>div{
        text-align: center;
        width: 90%;
        margin: auto;
    }
    .tLeft{
        text-align: center;
    }

    .fourthBox{
        flex-direction: column;
    }
    .fourthBox>div{
        width: 280px;
      
    }
    h1{
        font-size: 30px;
    }
    .getStarted{
       display: none;
    }
    .sixthBox{
        flex-direction: column;
        display: none;
    }
    .sixthBox>div{
        width: 290px;

    }

    .line{
        display: none;
    }
    .line>img{
        display: none;
    }
    .lastC{
        height: 200px;
        width: 280px;
    }
     .lastC>div{
        height: 200px;
        width: 280px;
        background-image: none;
     }
   .iframe{
    height: 200px;
    width: 280px;
   }
  }
  